<div class="container" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Registrar de Solicitud</h2>
  <div class="date-container">
    <span class="current-date">Fecha: 22/11/2023 <span id="displayDate"></span></span>
  </div>
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
  </div>
  <div class="form-group">
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" formControlName="apellido" required>
  </div>
  <div class="form-group">
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" formControlName="dni" required>
  </div>
  <div class="form-group">
    <label for="archivo">Subir Archivo:</label>
    <input type="file" id="archivo" name="archivo" formControlName="archivo" accept=".pdf, .doc, .docx" required>
  </div>

  <div class="form-group">
    <button type="submit" class="btn-register" routerLink="/">Registrar</button>
    <button type="reset" class="btn-clear">Limpiar</button>
  </div>
</div>