<div class="container">

    <div class="row mt-4 mb-4">
      <div class="col-md-4">
        <form action="#">
          <input type="text" class="form-control" placeholder="Ingresar DNI">
        </form>
      </div>
      <div class="col-md-8">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>
    <div>
        <button mat-button (click)="openDialog()">Consultar estado</button>
    </div>
   

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>DNI</th>
              <th>Título profesional</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ernesto</td>
              <td>Saniel</td>
              <td>7210938</td>
              <td> <a  download="solicitud.pdf" class="btn btn-success">Descargar</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mt-4 mb-4">
      <div class="col-md-6 text-center">
        <a href="#" class="btn btn-primary" routerLink="/pago">Ir a pagar</a>
      </div>
      <div class="col-md-6 text-center">
        <a href="#" class="btn btn-primary" routerLink="/modificar">Modificar</a>
      </div>
    </div>

  </div>
